@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Kanit, system-ui;
        width: 100vw;
        overflow-x: hidden;
    }
    body {
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
    }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
